.dashboard-container {
  display: flex;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: hidden; /* Prevent scrolling */
}

.sidebar {
  width: 225px;
  height: 100vh; /* Full height */
  background-color: 6c63ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure the logout button stays at the bottom */
  padding: 20px;
}

.sidebar-logo {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Vertically align items */
  gap: 5px; /* Add spacing between logo and name */
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebar-logo-image {
  width: 45px;
  height: 75px;
  object-fit: contain;
  border-radius: 50%; /* Optional: Make the logo circular */

}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 15px 0;
  cursor: pointer;
}

.logout-button {
  align-self: center; /* Center horizontally */
  margin-top: auto; /* Push the button to the bottom */
  background-color: #574bff;
  color: #fff;
  width: 120px;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 200px;
  margin-bottom: 80px;
}

.dashboard-main {
  flex: 1;
  height: 100vh; /* Full height */
  padding: 20px;
  background-color: #F4F7FE;
  overflow-y: auto; /* Allow vertical scrolling if content overflows */
  display: flex; /* Ensure it behaves like a block element */
  flex-direction: column; /* Stack children vertically */
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #707EAE;
}

.dashboard-header h1 {
  font-size: 28px;
  color: #2B3674;
  
}

.dashboard-header h2 {
  color: #05CD99;
  margin: 0;
}

.dashboard-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.dashboard-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
